proposal/
frontend_temp/
InsightForge_temp/
__pycache__

# backend
backend/.venv
backend/.env
backend/**/__pycache__

# frontend
frontend/node_modules
frontend/.next
frontend/out
frontend/.env.local
frontend/*.tsbuildinfo
frontend/next-env.d.ts
